@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
}

nav{
    background: rgb(245, 223, 223);
    
    height: 80px;
    width: 100%;
}

label.logo{
    line-height: 80px;
    padding: 0 100px;
    
}

nav ul{
    float: right;
    margin-right: 80px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: grey;
    font-size: 17px;
}

a.active, a:hover{
    color: black;
    transition: .58s;
}

h1{
    font-size: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 50%;
    left: 50%;
}

.btn{
    
}